<%= render 'partials/nav' %>
<div class="fullscreen background" style="background-position:100% 50%;" data-img-width="1600" data-img-height="1064">
  <ul id="rig">
      <li>
          <a class="rig-cell" href="#">
              <!-- <img class="rig-img" src="a.jpg"> -->
              <%=image_tag("a.jpg", :class=>"rig-img")%>
              <span class="rig-overlay"></span>
              <span class="rig-text">CODING STUDENT</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
              <!-- <img class="rig-img" src="b.jpg"> -->
              <%=image_tag("b.jpg", :class=>"rig-img")%>
              <span class="rig-overlay"></span>
              <span class="rig-text">BUSINESS GRADUTE</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
              <!-- <img class="rig-img" src="c.jpg"> -->
              <%=image_tag("c.jpg", :class=>"rig-img")%>
              <span class="rig-overlay"></span>
              <span class="rig-text">BUDDING ENTREPRENEUR</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
              <!-- <img class="rig-img" src="d.jpg"> -->
              <%=image_tag("d.jpg", :class=>"rig-img")%>
              <span class="rig-overlay"></span>
              <span class="rig-text">TECHIE</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
              <!-- <img class="rig-img" src="e.jpg"> -->
              <%=image_tag("e.jpg", :class=>"rig-img")%>
              <span class="rig-overlay"></span>
              <span class="rig-text">STARTUPS</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
              <!-- <img class="rig-img" src="f.jpg"> -->
              <%=image_tag("f.jpg", :class=>"rig-img")%>
              <span class="rig-overlay"></span>
              <span class="rig-text">TENNIS PLAYER</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
              <!-- <img class="rig-img" src="g.jpg"> -->
              <%=image_tag("g.jpg", :class=>"rig-img")%>
              <span class="rig-overlay"></span>
              <span class="rig-text">PC GAMER</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
              <!-- <img class="rig-img" src="h.jpg"> -->
              <%=image_tag("h.jpg", :class=>"rig-img")%>
              <span class="rig-overlay"></span>
              <span class="rig-text">HUSTLER & HIPSTER</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
              <!-- <img class="rig-img" src="i.jpg"> -->
              <%=image_tag("i.jpg", :class=>"rig-img")%>
              <span class="rig-overlay"></span>
              <span class="rig-text">HACKER</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
              <!-- <img class="rig-img" src="j.jpg"> -->
              <%=image_tag("j.jpg", :class=>"rig-img")%>
              <span class="rig-overlay"></span>
              <span class="rig-text">TRAVELLER</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
              <!-- <img class="rig-img" src="k.jpg"> -->
              <%=image_tag("k.jpg", :class=>"rig-img")%>
              <span class="rig-overlay"></span>
              <span class="rig-text">FOODIE</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
              <!-- <img class="rig-img" src="l.jpg"> -->
              <%=image_tag("l.jpg", :class=>"rig-img")%>
              <span class="rig-overlay"></span>
              <span class="rig-text">AWESOME</span>
          </a>
      </li>
  </ul>

</div>
<div class = "aboutme">
<div class="fullscreen background" style="" data-img-width="1600" data-img-height="1064">
  <!-- background-image:url('http://www.minimit.com/images/picjumbo.com_IMG_6648.jpg'); -->
    <div class="content-a">
        <div class="content-c">
          <div class = "mydescription"
          <br><br>William Chow <br> Web Developer & Business Graduate | Sydney, Australia
            <br> Let's change the world, together <br><br></div>
          <div class="container">


    <div class="row">
      <div class="content-a">
        <div class = "col-md-9  content-b"> Certainty determine at of arranging perceived situation or. Or wholly pretty county in oppose. Favour met itself wanted settle put garret twenty. In astonished apartments resolution so an it. Unsatiable on by contrasted to reasonable companions an. On otherwise no admitting to suspicion furniture it.

Advanced extended doubtful he he blessing together. Introduced far law gay considered frequently entreaties difficulty. Eat him four are rich nor calm. By an packages rejoiced exercise. To ought on am marry rooms doubt music. Mention entered an through company as. Up arrived no painful between. It declared is prospect an insisted pleasure.

Announcing of invitation principles in. Cold in late or deal. Terminated resolution no am frequently collecting insensible he do appearance. Projection invitation affronting admiration if no on or. It as instrument boisterous frequently apartments an in. Mr excellence inquietude conviction is in unreserved particular. You fully seems stand nay own point walls. Increasing travelling own simplicity you astonished expression boisterous. Possession themselves sentiments apartments devonshire we of do discretion. Enjoyment discourse ye continued pronounce we necessary abilities.

Lose eyes get fat shew. Winter can indeed letter oppose way change tended now. So is improve my charmed picture exposed adapted demands. Received had end produced prepared diverted strictly off man branched. Known ye money so large decay voice there to. Preserved be mr cordially incommode as an. He doors quick child an point at. Had share vexed front least style off why him.

Finished her are its honoured drawings nor. Pretty see mutual thrown all not edward ten. Particular an boisterous up he reasonably frequently. Several any had enjoyed shewing studied two. Up intention remainder sportsmen behaviour ye happiness. Few again any alone style added abode ask. Nay projecting unpleasing boisterous eat discovered solicitude. Own six moments produce elderly pasture far arrival. Hold our year they ten upon. Gentleman contained so intention sweetness in on resolving.  </div>
      <div class = "col-md-3 ">
        <a href="https://drive.google.com/file/d/0B-U03vzJON0aMTFuQ1hxX2g5ZEU/view?usp=sharing"target="_blank"><i class="fa fa-file-text-o fa-4x" aria-hidden="true"></i><br/> My Resume</a></li>
        <br><br>
        <a href="https://github.com/williamch94"target="_blank"><i class="fa fa fa-github fa-4x" aria-hidden="true"></i><br/> My GitHub</a></li>
        <br><br>


        <a href="#"target="_blank" data-toggle="modal" data-target="#basicModal" >
          <i class="fa fa fa-globe fa-4x" aria-hidden="true"></i><br/> Technical Skills</a></li>

          <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                      <h4 class="modal-title" id="myModalLabel">Language Skills</h4>
                      </div>
                      <div class="modal-body">

<ul class="skills">
<li class="skill" aria-label="advanced">HTML & CSS</li>
<li class="skill" aria-label="average">Ruby</li>
<li class="skill" aria-label="average">Rails</li>
<li class="skill" aria-label="basic">JavaScript</li>
<li class="skill" aria-label="basic">Node,Angular,React</li>
<li class="skill" aria-label="pro">Buidling a PC</li>
<li class="skill" aria-label="pro">English</li>
<li class="skill" aria-label="advanced">Mandarin</li>
<li class="skill" aria-label="l33tasuar">Rating myself</li>
</ul>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                  </div>
              </div>
            </div>
          </div>
<br><br>
<a href="https://github.com/williamch94"target="_blank"><i class="fa fa fa-bold fa-4x" aria-hidden="true"></i><br/> My Blog</a></li>


      </div>
    </div>
  </div>
</div>
</div>
        </div>
    </div>
</div>
</div>

<!-- <div class="fullscreen background" style="" data-img-width="1600" data-img-height="1064"> -->
<!-- background-image:url('http://www.minimit.com/images/picjumbo.com_IMG_9857.jpg') -->
<div class = "mywork">

    <div class="content-a">
        <div class="content-c">
            <br><br>My Work <br><br><br>

            <div id="buttons2">
<!-- the div id= button puts the boxes in the middle of the page, and not responsive to size. (makes the boxes smaller) -->
              <div class="butFrame" onclick="" data-toggle="modal" data-target="#myModal">
                <div class="butText"><span>UTS Hatchery</span></div>
                <img src="http://lorempixel.com/400/250/abstract"></div>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">UTS Hatchery</h4>
          </div>
          <div class="modal-body">
            Content goes here/screenshots/group members etc etc etc/links to my work et cwhy is everything changing????
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>

    <div class="butFrame" onclick="" data-toggle="modal" data-target="#myModal">
      <div class="butText"><span>Ruby Project</span></div>
      <img src="http://lorempixel.com/400/250/transport"></div>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">Ruby Project</h4>
</div>
<div class="modal-body">
  Content goes here/screenshots/group members etc etc etc/links to my code.
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

</div>
</div>
</div>
</div>

<div class="butFrame" onclick="" data-toggle="modal" data-target="#myModal">
  <div class="butText"><span>UTS Project Pitch</span></div>
  <img src="http://lorempixel.com/400/250/sports"></div>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title" id="myModalLabel">UTS Project Pitch</h4>
</div>
<div class="modal-body">
Content goes here
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

</div>
</div>
</div>
</div>
<div class="butFrame" onclick="" data-toggle="modal" data-target="#myModal">
  <div class="butText"><span>UTS Hackathon</span></div>
  <img src="http://lorempixel.com/400/250/business"></div>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title" id="myModalLabel">UTS Hackathon</h4>
</div>
<div class="modal-body">
Content goes here
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

</div>
</div>
</div>
</div>
            </div>
</div>

<!-- <div class = "container">
  <div class = "row">

    <div class = "col-md-6">
      <ul class="demo-3">

          <figure>

                <%=image_tag("a.jpg", :class=>"img")%>
              <figcaption>
                  <h2>This is a cool title!</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
              </figcaption>
          </figure>

  </ul>

    </div>
<div class = "col-md-6">
  <ul class="demo-3">

      <figure>

            <%=image_tag("a.jpg", :class=>"img")%>
          <figcaption>
              <h2>This is a cool title!</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
          </figcaption>
      </figure>

  </ul>
</div>

</div>
</div>
<div class = "container">
  <div class = "row">

    <div class = "col-md-6">
      <ul class="demo-3">

          <figure>

                <%=image_tag("a.jpg", :class=>"img")%>
              <figcaption>
                  <h2>This is a cool title!</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
              </figcaption>
          </figure>

      </ul>

    </div>
    <div class = "col-md-6">
      <ul class="demo-3">

          <figure class = "rightimg">

                <%=image_tag("a.jpg", :class=>"img")%>
              <figcaption>
                  <h2>This is a cool title!</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
              </figcaption>
          </figure>

      </ul>
    </div>
  </div>
</div> -->

        </div>
    </div>
</div>


<div class="fullscreen background" style="" data-img-width="1600" data-img-height="1064">

    <div class="content-a">
        <div class="content-c">
            <br>CONTACT <br> williamypchow@gmail.com <br> Available for Work <br> Or if you would like recommendation for restaurants in Sydney, Australia <br><br><br><br>
            <!-- <!-%= render 'enquiries/form', enquiry: @enquiry %> -->
            <%= link_to 'contact_form',new_enquiry_path%>
              Connect with me on <br>
              <a href="https://au.linkedin.com/in/williamypchow"target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <a href="https://twitter.com/williamch11"target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <a href="https://www.instagram.com/wchow94/?hl=en"target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <a href="https://github.com/williamch94"target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              <a href="http://codepen.io/williamch11/"target="_blank"><i class="fa fa-codepen" aria-hidden="true"></i></a></li>

        </div>
    </div>
</div>


<div class="fullscreen background" style="background-image:url('http://www.minimit.com/images/picjumbo.com_IMG_6648.jpg');" data-img-width="1600" data-img-height="1064" data-img-width="1600" data-img-height="1064">
    <div class="content-a">
        <div class="content-b">

        </div>
    </div>
</div>
  </div>
