
<div class="fullscreen background" style="background-position:100% 50%;" data-img-width="1600" data-img-height="1064">
  <ul id="rig">
      <li>
          <a class="rig-cell" href="#">
              <!-- <img class="rig-img" src="a.jpg"> -->
              <%=image_tag("a.jpg", :class=>"rig-img")%>
              <span class="rig-overlay"></span>
              <span class="rig-text">Lorem Ipsum Dolor</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
              <!-- <img class="rig-img" src="b.jpg"> -->
              <%=image_tag("b.jpg", :class=>"rig-img")%>
              <span class="rig-overlay"></span>
              <span class="rig-text">Consectetur Adipiscing</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
              <!-- <img class="rig-img" src="c.jpg"> -->
              <%=image_tag("c.jpg", :class=>"rig-img")%>
              <span class="rig-overlay"></span>
              <span class="rig-text">Vivamus ut Felis</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
              <!-- <img class="rig-img" src="d.jpg"> -->
              <%=image_tag("d.jpg", :class=>"rig-img")%>
              <span class="rig-overlay"></span>
              <span class="rig-text">Curabitur tempus</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
              <!-- <img class="rig-img" src="e.jpg"> -->
              <%=image_tag("e.jpg", :class=>"rig-img")%>
              <span class="rig-overlay"></span>
              <span class="rig-text">Sed et nunc luctus</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
              <!-- <img class="rig-img" src="f.jpg"> -->
              <%=image_tag("f.jpg", :class=>"rig-img")%>
              <span class="rig-overlay"></span>
              <span class="rig-text">Suspendisse tellus</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
              <!-- <img class="rig-img" src="g.jpg"> -->
              <%=image_tag("g.jpg", :class=>"rig-img")%>
              <span class="rig-overlay"></span>
              <span class="rig-text">pellentesque odio</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
              <!-- <img class="rig-img" src="h.jpg"> -->
              <%=image_tag("h.jpg", :class=>"rig-img")%>
              <span class="rig-overlay"></span>
              <span class="rig-text">Nam euismod</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
              <!-- <img class="rig-img" src="i.jpg"> -->
              <%=image_tag("i.jpg", :class=>"rig-img")%>
              <span class="rig-overlay"></span>
              <span class="rig-text">Vestibulum ultricies</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
              <!-- <img class="rig-img" src="j.jpg"> -->
              <%=image_tag("j.jpg", :class=>"rig-img")%>
              <span class="rig-overlay"></span>
              <span class="rig-text">quis interdum sapien</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
              <!-- <img class="rig-img" src="k.jpg"> -->
              <%=image_tag("k.jpg", :class=>"rig-img")%>
              <span class="rig-overlay"></span>
              <span class="rig-text">Maecenas vitae</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" href="#">
              <!-- <img class="rig-img" src="l.jpg"> -->
              <%=image_tag("l.jpg", :class=>"rig-img")%>
              <span class="rig-overlay"></span>
              <span class="rig-text">Proin Scelerisque</span>
          </a>
      </li>
  </ul>

</div>

<div class="fullscreen background" style="" data-img-width="1600" data-img-height="1064">
  <!-- background-image:url('http://www.minimit.com/images/picjumbo.com_IMG_6648.jpg'); -->
    <div class="content-a">
        <div class="content-c">
          <br><br>William Chow <br> Web Developer & Business Graduate | Sydney, Australia
            <br> Let's change the world, together <br> <br> <br> <br>
          <div class="container">
    <div class="row">
      <div class = "col-md-9"> Certainty determine at of arranging perceived situation or. Or wholly pretty county in oppose. Favour met itself wanted settle put garret twenty. In astonished apartments resolution so an it. Unsatiable on by contrasted to reasonable companions an. On otherwise no admitting to suspicion furniture it.

Advanced extended doubtful he he blessing together. Introduced far law gay considered frequently entreaties difficulty. Eat him four are rich nor calm. By an packages rejoiced exercise. To ought on am marry rooms doubt music. Mention entered an through company as. Up arrived no painful between. It declared is prospect an insisted pleasure.

Announcing of invitation principles in. Cold in late or deal. Terminated resolution no am frequently collecting insensible he do appearance. Projection invitation affronting admiration if no on or. It as instrument boisterous frequently apartments an in. Mr excellence inquietude conviction is in unreserved particular. You fully seems stand nay own point walls. Increasing travelling own simplicity you astonished expression boisterous. Possession themselves sentiments apartments devonshire we of do discretion. Enjoyment discourse ye continued pronounce we necessary abilities.

Lose eyes get fat shew. Winter can indeed letter oppose way change tended now. So is improve my charmed picture exposed adapted demands. Received had end produced prepared diverted strictly off man branched. Known ye money so large decay voice there to. Preserved be mr cordially incommode as an. He doors quick child an point at. Had share vexed front least style off why him.

Finished her are its honoured drawings nor. Pretty see mutual thrown all not edward ten. Particular an boisterous up he reasonably frequently. Several any had enjoyed shewing studied two. Up intention remainder sportsmen behaviour ye happiness. Few again any alone style added abode ask. Nay projecting unpleasing boisterous eat discovered solicitude. Own six moments produce elderly pasture far arrival. Hold our year they ten upon. Gentleman contained so intention sweetness in on resolving.  </div>
      <div class = "col-md-3">
        <br><br><a href="https://drive.google.com/file/d/0B-U03vzJON0aMTFuQ1hxX2g5ZEU/view?usp=sharing"target="_blank"><i class="fa fa-file-text-o fa-4x" aria-hidden="true"></i><br/> My Resume</a></li>
        <br><br><br>
        <a href="https://github.com/williamch94"target="_blank"><i class="fa fa fa-github fa-4x" aria-hidden="true"></i><br/> My GitHub</a></li>
      </div>
    </div>
  </div>


        </div>
    </div>
</div>


<div class="fullscreen background" style="background-image:url('http://www.minimit.com/images/picjumbo.com_IMG_9857.jpg');" data-img-width="1600" data-img-height="1064">
    <div class="content-a">
        <div class="content-b">


            <br>my work<br>
        </div>
    </div>
</div>


<div class="not-fullscreen background" style="background-image:url('http://www.minimit.com/images/picjumbo.com_IMG_8697.jpg');" data-img-width="1600" data-img-height="1064">
    <div class="content-a">
        <div class="content-b">
            Contact
        </div>
    </div>
</div>


<section class="fullscreen" >
    <div class="content-a">
        <div class="content-b">
            footer
        </div>
    </div>
</section>
  </div>
</section>
