
    <div class="fullscreen background" style="background-position:100% 50%;" data-img-width="1600" data-img-height="1064">
      <ul id="rig">
          <li>
              <a class="rig-cell" href="#">

                  <%=image_tag("a.jpg", :class=>"rig-img")%>
                  <span class="rig-overlay"></span>
                  <span class="rig-text">CODING STUDENT</span>
              </a>
          </li>
          <li>
              <a class="rig-cell" href="#">

                  <%=image_tag("b.jpg", :class=>"rig-img")%>
                  <span class="rig-overlay"></span>
                  <span class="rig-text">BUSINESS GRADUTE</span>
              </a>
          </li>
          <li>
              <a class="rig-cell" href="#">

                  <%=image_tag("c.jpg", :class=>"rig-img")%>
                  <span class="rig-overlay"></span>
                  <span class="rig-text">BUDDING ENTREPRENEUR</span>
              </a>
          </li>
          <li>
              <a class="rig-cell" href="#">

                  <%=image_tag("d.jpg", :class=>"rig-img")%>
                  <span class="rig-overlay"></span>
                  <span class="rig-text">TECHIE</span>
              </a>
          </li>
          <li>
              <a class="rig-cell" href="#">

                  <%=image_tag("e.jpg", :class=>"rig-img")%>
                  <span class="rig-overlay"></span>
                  <span class="rig-text">STARTUPS</span>
              </a>
          </li>
          <li>
              <a class="rig-cell" href="#">

                  <%=image_tag("f.jpg", :class=>"rig-img")%>
                  <span class="rig-overlay"></span>
                  <span class="rig-text">TENNIS PLAYER</span>
              </a>
          </li>
          <li>
              <a class="rig-cell" href="#">

                  <%=image_tag("g.jpg", :class=>"rig-img")%>
                  <span class="rig-overlay"></span>
                  <span class="rig-text">PC GAMER</span>
              </a>
          </li>
          <li>
              <a class="rig-cell" href="#">

                  <%=image_tag("h.jpg", :class=>"rig-img")%>
                  <span class="rig-overlay"></span>
                  <span class="rig-text">HUSTLER & HIPSTER</span>
              </a>
          </li>
          <li>
              <a class="rig-cell" href="#">

                  <%=image_tag("i.jpg", :class=>"rig-img")%>
                  <span class="rig-overlay"></span>
                  <span class="rig-text">HACKER</span>
              </a>
          </li>
          <li>
              <a class="rig-cell" href="#">

                  <%=image_tag("j.jpg", :class=>"rig-img")%>
                  <span class="rig-overlay"></span>
                  <span class="rig-text">TRAVELLER</span>
              </a>
          </li>
          <li>
              <a class="rig-cell" href="#">

                  <%=image_tag("k.jpg", :class=>"rig-img")%>
                  <span class="rig-overlay"></span>
                  <span class="rig-text">FOODIE</span>
              </a>
          </li>
          <li>
              <a class="rig-cell" href="#">

                  <%=image_tag("l.jpg", :class=>"rig-img")%>
                  <span class="rig-overlay"></span>
                  <span class="rig-text">AWESOME</span>
              </a>
          </li>
      </ul>

    </div>

    <div id="section-one">

    <div class = "aboutme">
    <div class="fullscreen background" style="" data-img-width="1600" data-img-height="1064">
      <!-- background-image:url('http://www.minimit.com/images/picjumbo.com_IMG_6648.jpg'); -->


        <div class="content-a">
            <div class="content-c">
              <div class = "mydescription">
              <br><br>William Chow <br> Web Developer & Business Graduate | Sydney, Australia
                <br> Let's change the world, together <br><br></div>

          <div class="container">
                    <div class="row">
          <div class="content-a">
            <div class = "col-md-8 col-md-offset-1 content-b">

              <p>I'm a recent business graduate from the University of Technology, Sydney.
              I'm passionate about technology, economics and entrepreneuship and is hooked on the world of technology & startups. </p><br>

              <p>I'm a budding entrepreneur who hopes to one day create something,
              whether with a company or by myself, that can make a real difference in our daily life.
              I look to develop myself personally and professionaly around the world, and to work with an awesome team.</p><br>

              <p>Currently, I am self teaching myself a variety of coding languages,
              as well as taking an intensive bootcamp.</p><br>

              <p>Some of my interests, and you may see me blog about on this site,
              includes: tennis, technology, poker, startups, hackathons, chess, video games, reading, volunteering, travelling and economics.</p><br>

              <p><i>'If you want to go fast, go alone. If you want to go far, go together'</i></p><p>African Proverbs</p>

             </div>
          <div class = "col-md-3">
            <a href="https://drive.google.com/file/d/0B-U03vzJON0aMTFuQ1hxX2g5ZEU/view?usp=sharing"target="_blank"><i class="fa fa-file-text-o fa-4x" aria-hidden="true"></i><br/> My Resume</a></li>
            <br><br>
            <a href="https://github.com/williamch94"target="_blank"><i class="fa fa fa-github fa-4x" aria-hidden="true"></i><br/> My GitHub</a></li>
            <br><br>


            <a href="#"target="_blank" data-toggle="modal" data-target="#basicModal" >
              <i class="fa fa fa-globe fa-4x" aria-hidden="true"></i><br/> Technical Skills</a></li>

              <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                          <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                          <h4 class="modal-title" id="myModalLabel">Language Skills</h4>
                          </div>
                          <div class="modal-body">

    <ul class="skills">
    <li class="skill" aria-label="advanced">HTML & CSS</li>
    <li class="skill" aria-label="average">Ruby</li>
    <li class="skill" aria-label="average">Rails</li>
    <li class="skill" aria-label="basic">JavaScript</li>
    <li class="skill" aria-label="basic">Node,Angular,React</li>
    <li class="skill" aria-label="pro">Building a PC</li>
    <li class="skill" aria-label="pro">English</li>
    <li class="skill" aria-label="average">Mandarin</li>
    <li class="skill" aria-label="l33tasuar">Rating myself</li>
    </ul>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                      </div>
                  </div>
                </div>
              </div>
    <br><br>
    <a href=""target="_blank"><i class="fa fa fa-bold fa-4x" aria-hidden="true"></i><br/> My Blog</a></li>


          </div>
        </div>
      </div>
    </div>
    </div>
            </div>
        </div>
    </div>
    </div>
  </div>


  <div id="section-two">
    <div class = "mywork">

        <div class="content-a">
            <div class="content-c">
                <br><br>My Work (Student Project) <br><br><br>

                <div id="buttons2">

                  <div class="butFrame" onclick="" data-toggle="modal" data-target="#myModal">
                    <div class="butText"><span>UTS Hatchery</span></div>
                    <img src="http://lorempixel.com/400/250/abstract"></div>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">UTS Hatchery</h4>
              </div>
              <div class="modal-body">

                I participated in the extra curricular UTS Hatchery Program.
                This program is designed to teach students the skills needed to launch a startup, as well as hosting a number of talks and networking event.
                Through design thinking and conducting empathy work, our team dseigned, prototyped and pitched a sports directory over the course of 8 weeks.
                (add more details, pictures, links, group members here)
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

              </div>
            </div>
          </div>
        </div>

        <div class="butFrame" onclick="" data-toggle="modal" data-target="#myModal2">
          <div class="butText"><span>Ruby Project</span></div>
          <img src="http://lorempixel.com/400/250/transport"></div>
          <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Ruby Project</h4>
    </div>
    <div class="modal-body">
      Our first mini project at coder factory was to create a mini app within the ruby terminal. I created a simple game that test users
      speed and precision. (link to code here etc, screenshot)
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

    </div>
    </div>
    </div>
    </div>

    <div class="butFrame" onclick="" data-toggle="modal" data-target="#myModal3">
      <div class="butText"><span>UTS Project Pitch</span></div>
      <img src="http://lorempixel.com/400/250/sports"></div>
      <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">UTS Project Pitch</h4>
    </div>
    <div class="modal-body">
    This was my first time participating in a hackathon and I loved it.
    I collaborated with developers, designers, entrepreneurs and other product managers to create a minimum viable product over the course of a weekend.
    In this case, the team created a platform for businesses to easily communicated with their employees, particularly, employees on maternity leave.
    I look forwad to doing more Hackathons, hopefully as developers when I have up my technical skills.
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

    </div>
    </div>
    </div>
    </div>
    <div class="butFrame" onclick="" data-toggle="modal" data-target="#myModal4">
      <div class="butText"><span>UTS Poker Society</span></div>
      <img src="http://lorempixel.com/400/250/business"></div>
      <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">UTS Poker Society</h4>
    </div>
    <div class="modal-body">
    Founded and affiliated UTS Poker Society at the start of 2015 with University Union and National Poker League.
    At the start of 2015, our team only signed up 40 members.
    Throughout the year, we organised charity tournaments, special tournaments, social events and weekly tournaments using a variety of marketing techniques.
     At the start of 2016, we have increased membership by over 400%, signing up 170 new members.
     (probably add more cool stuff within the modal body like images, sliders etc overtime)
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

    </div>
    </div>
    </div>
    </div>
                </div>
    </div>


            </div>
        </div>
    </div>
  </div>

  <div id="section-three">
    <div class = "contact">
    <!-- <div class="fullscreen background" style="" data-img-width="1600" data-img-height="1064"> -->
      <div class="content-a">
            <div class="content-c">
              <div class = "contactheading">
                <br>CONTACT ME </div> <div class = "contactheading2"> williamypchow@gmail.com <br> Available for Work <br> Or if you would like recommendation for restaurants in Sydney<br>

                        <%= render 'enquiries/form', enquiry: @enquiry %> <br>

                <!-- <%= link_to 'contact_form',new_enquiry_path%> -->
                  Connect with me on <br></div>
                  <a href="https://au.linkedin.com/in/williamypchow"target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
                  <a href="https://twitter.com/williamch11"target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
                  <a href="https://www.instagram.com/wchow94/?hl=en"target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                  <a href="https://github.com/williamch94"target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
                  <a href="http://codepen.io/williamch11/"target="_blank"><i class="fa fa-codepen fa-2x" aria-hidden="true"></i></a></li> <br><br>
            </div>
        </div>
    <!-- </div> -->
    </div>
  </div>

    <div class="fullscreen background" style="background-image:url('http://www.minimit.com/images/picjumbo.com_IMG_6648.jpg');" data-img-width="1600" data-img-height="1064" data-img-width="1600" data-img-height="1064">
        <div class="content-a">
            <div class="content-b">

            </div>
        </div>
    </div>
      </div>
  <%= render 'partials/nav' %>
