

<%= render 'partials/nav' %>
<div style="margin-left:10%;padding;height:1000px;">

  <div class="fullscreen background" style="background-position:100% 50%;" data-img-width="1600" data-img-height="1064">
    <ul id="rig">
        <li>
            <a class="rig-cell" href="#">
                <!-- <img class="rig-img" src="a.jpg"> -->
                <%=image_tag("a.jpg", :class=>"rig-img")%>
                <span class="rig-overlay"></span>
                <span class="rig-text">Lorem Ipsum Dolor</span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="#">
                <!-- <img class="rig-img" src="b.jpg"> -->
                <%=image_tag("b.jpg", :class=>"rig-img")%>
                <span class="rig-overlay"></span>
                <span class="rig-text">Consectetur Adipiscing</span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="#">
                <!-- <img class="rig-img" src="c.jpg"> -->
                <%=image_tag("c.jpg", :class=>"rig-img")%>
                <span class="rig-overlay"></span>
                <span class="rig-text">Vivamus ut Felis</span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="#">
                <!-- <img class="rig-img" src="d.jpg"> -->
                <%=image_tag("d.jpg", :class=>"rig-img")%>
                <span class="rig-overlay"></span>
                <span class="rig-text">Curabitur tempus</span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="#">
                <!-- <img class="rig-img" src="e.jpg"> -->
                <%=image_tag("e.jpg", :class=>"rig-img")%>
                <span class="rig-overlay"></span>
                <span class="rig-text">Sed et nunc luctus</span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="#">
                <!-- <img class="rig-img" src="f.jpg"> -->
                <%=image_tag("f.jpg", :class=>"rig-img")%>
                <span class="rig-overlay"></span>
                <span class="rig-text">Suspendisse tellus</span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="#">
                <!-- <img class="rig-img" src="g.jpg"> -->
                <%=image_tag("g.jpg", :class=>"rig-img")%>
                <span class="rig-overlay"></span>
                <span class="rig-text">pellentesque odio</span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="#">
                <!-- <img class="rig-img" src="h.jpg"> -->
                <%=image_tag("h.jpg", :class=>"rig-img")%>
                <span class="rig-overlay"></span>
                <span class="rig-text">Nam euismod</span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="#">
                <!-- <img class="rig-img" src="i.jpg"> -->
                <%=image_tag("i.jpg", :class=>"rig-img")%>
                <span class="rig-overlay"></span>
                <span class="rig-text">Vestibulum ultricies</span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="#">
                <!-- <img class="rig-img" src="j.jpg"> -->
                <%=image_tag("j.jpg", :class=>"rig-img")%>
                <span class="rig-overlay"></span>
                <span class="rig-text">quis interdum sapien</span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="#">
                <!-- <img class="rig-img" src="k.jpg"> -->
                <%=image_tag("k.jpg", :class=>"rig-img")%>
                <span class="rig-overlay"></span>
                <span class="rig-text">Maecenas vitae</span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="#">
                <!-- <img class="rig-img" src="l.jpg"> -->
                <%=image_tag("l.jpg", :class=>"rig-img")%>
                <span class="rig-overlay"></span>
                <span class="rig-text">Proin Scelerisque</span>
            </a>
        </li>
    </ul>

  </div>

<div class="fullscreen background" style="background-image:url('http://blog.hdwallsource.com/wp-content/uploads/2014/11/black-wallpaper-27635-28354-hd-wallpapers.jpg');" data-img-width="1600" data-img-height="1064">
   <div class="content-a">
       <div class="content-b">
         About me <br>
       Tech <br>Hello <br> trsting

       </div>
   </div>
</div>


<div class="fullscreen background" style="background-image:url('http://www.minimit.com/images/picjumbo.com_IMG_9857.jpg');" data-img-width="1600" data-img-height="1064">
   <div class="content-a">
       <div class="content-b">
           <br>Content overflow<br>Content overflow
           <br>Content overflow<br>Content overflow
           <br>Content overflow<br>Content overflow
           <br>Content overflow<br>Content overflow
           <br><br>
       </div>
   </div>
</div>


<div class="not-fullscreen background" style="background-image:url('http://www.minimit.com/images/picjumbo.com_IMG_8697.jpg');" data-img-width="1600" data-img-height="1064">
   <div class="content-a">
       <div class="content-b">
           Contact
       </div>
   </div>
</div>


<section class="fullscreen">
   <div class="content-a">
       <div class="content-b">
           Centered content
       </div>
   </div>
</section>
 </div>
